.container {
    display: flex;
    justify-content: right;
    padding: 1em;
    align-items: center;

    .perfil {
        width: 35px;
        height: 35px;
        text-align: center;
        border-radius: 50%;
        background-color: rgba(36, 35, 35, 0.459);
        display: flex;
        padding: 5px;
        margin: 0 5px;

        .nome {
            position: fixed;
            background-color: black;
            color: aliceblue;
            padding: 0.3em;
            border-radius: 3px;
            margin: 3em 0px;
            right: 0;
            transform: scale(0);
        }

        .foto {
            max-width: 35px;
            max-height: 35px;
            width: 35px;
            height: 35px;
            object-fit: cover;
            border-radius: 50%;
        }

        .letra {
            font-size: 2em;
            font-weight: bold;
            text-align: center;
            margin: auto;
            background-color: rgba(175, 128, 187, 0.815);
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .perfil:hover {
        transform: scale(1.1);
        background-color: rgb(36, 35, 35);

        .nome {
            transition: all 0.1s;
            transition-delay: 0.4s;
            transform: scale(1);
        }
    }

    .botao {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 0;
        margin: 0 5px;
        background-color: rgba(36, 35, 35, 0.459);
        color: rgb(207, 207, 207);
        align-items: center;
        justify-content: center;

        img {
            width: 20px;
        }
    }

    .botao:hover {
        color: white;
        transform: scale(1.1);
    }
}