.album {
    padding: 2em;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 0;
    }

    &:hover {
        &::-webkit-scrollbar {
            width: 12px;
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(128, 128, 128, 0.541);
        }
    }
    .album_capa{
        width: 224px;
        height: 224px;
    }
    .album_titulo{
        font-size: 24px;
    }

}