@import "../../styles/variaveis";

:root{
    background-color: rgb(26, 25, 25);
    font-family: $fonte;
    font-weight: $normal;
}
.container{
    display: flex;
    justify-content: space-between;
    .inicio {
    background-color: rgb(63, 63, 63);
    height: 98vh;
    margin: 0.5em;
    width: 100%;
    border-radius: 10px;
    }
}
