.pesquisa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    margin-right: 5px;
    width: 30px;
    transition: 0.3s cubic-bezier(0.01, 0.01,0.5, 1);
    .botao {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        align-items: center;
        justify-content: center;
        background: url(../../../assets/lupa.svg) center center no-repeat;
        background-size: 20px;
        &:hover {
            cursor: pointer;
            background: url(../../../assets/lupaHover.svg) center center no-repeat;
            background-color: gray;
            background-size: 20px;
        }
    }
    .buscar {
        border: none;
        background: none;
        outline: 0;
        max-width: 200px;
        position: fixed;
        padding-left: 2.4em;
        width: 100%;
        height: 30px;
        color: white;
        display: none;
        
    }
}
.barra {
    transform: scaleX(100px);
    transition: 0.2s cubic-bezier(1.2, 0.003, 0.5, 0.03);
    width: 200px;
    height: 30px;
    background-color: rgba(36, 35, 35, 0.459);
    .botao{
        border-radius: 50%;
        border: none;
        align-items: center;
        justify-content: center;
    }
    .buscar{

        display: block;
    }
}

