:root {
  background-color: #f3daf3;
}

.container {
  margin: auto;
  justify-content: center;
  display: flex;
  height: 100vh;
  flex-direction: row-reverse;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

}

.logo {
  font-size: 70px;
  color: #F9B4B7;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

input {
  margin: 2em;
  padding: 20px;
  border-radius: 25px;
  width: 300px;
}

.botao {
  background-color: #F9B4B7;
  padding: 1em 2em;
  border-radius: 20px;
}

.botao:hover {
  background-color: #fc439f;
}