@import '../../styles/variaveis';

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0.5em 0 0.5em 0.5em;
    width: 280px;

    .inicio {
        border-radius: 10px;
        background-color: rgb(63, 63, 63);
        display: flex;
        align-items: center;
        gap: 1em;
        padding: 1em 1em 1em 20px;
        &:hover{
            cursor: pointer;
            .inicio_icone{
                background: url(../../assets/casaHover.svg) center center no-repeat;
                background-size: 32px;
            }
            .inicio_titulo{
                color: white;
            }
        }
        .inicio_icone{
            background: url(../../assets/casa.svg) center center no-repeat;
            background-size: 32px;
            width: 30px;
            height: 30px;
        }
        .inicio_titulo{
            font-size: 18px;
            padding: 0;
            color: #7A7A7E;
            font-weight: $medium;
        }
    }
}

@media (max-width: 950px) {
    .container {
        width: 73px;
    }
}