:root {
  width: 500px;
  height: 100vh;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

}

.logo {
  color: rgb(65, 197, 48);
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

input {
  margin: 2em;
  padding: 20px;
  border-radius: 25px;
  width: 300px;
}

.botao {
  background-color: rgb(65, 197, 48);
}

.botao:hover {
  background-color: rgb(23, 61, 23);
}